<nav class="nav-wrapper blue-grey">
  <div class="container">
    <a href="/" class="brand-logo">StackMean</a>
  </div>
</nav>
<div class="container">
  <app-user-list></app-user-list>
</div>
<footer class="page-footer blue-grey">
  <div class="footer-copyright">
    <div class="container center-align">
      <div class="row">
        <div class="col s4">
          <a class="btn-floating" href="https://web.telegram.org/#/im?p=@DayronGiovanni">
            <i class="material-icons">insert_comment</i></a>
          <p>Telegram</p>
        </div>
        <div class="col s4">
          <a class="btn-floating" href="https://bitbucket.org/dayrondlr/mean-stack.git">
            <i class="material-icons">cloud_download</i></a>
          <p>Repository</p>
        </div>
        <div class="col s4">
          <a class="btn-floating" href="https://twitter.com/DayronGiovanni">
            <i class="material-icons">group_add</i></a>
          <p>Twitter</p>
        </div>
      </div>
      DayronDLR © MIT
    </div>
  </div>
</footer>