<div class="row">
  <div class="col-md-12">
    <h2 class="center-align" *ngIf="userService.selectUser._id">User Details</h2>
    <h2 class="center-align" *ngIf="!userService.selectUser._id">New User</h2>
  </div>
</div>
<div class="row">
  <form class="col-md-12" #userForm='ngForm'>
    <div class="form-group">
      <label for="user-name">Name</label>
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectUser._id">
      <input class="form-control" name="name" [(ngModel)]="userService.selectUser.name" placeholder="Name" />
    </div>
    <div class="form-group">
      <label for="user-email">Email</label>
      <input class="form-control" name="email" [(ngModel)]="userService.selectUser.email" placeholder="support@mlab.com" />
    </div>
    <div class="form-group">
      <label for="user-phone-mobile">Mobile</label>
      <input class="form-control" name="phone.mobile" [(ngModel)]="userService.selectUser.phone.mobile"
        placeholder="1234567890" />
    </div>
    <div class="form-group">
      <label for="user-phone-work">Work</label>
      <input class="form-control" name="phone.work" [(ngModel)]="userService.selectUser.phone.work"
        placeholder="0123456789" />
    </div>
    <button class="btn btn-primary" *ngIf="!userService.selectUser._id" (click)="postUser(userForm)">Create</button>
    <button class="btn btn-danger" *ngIf="userService.selectUser._id" (click)="putUser(userForm)">Update</button>
    <button class="btn btn-danger" *ngIf="userService.selectUser._id" (click)="deleteUser(userService.selectUser._id, userForm)">Delete</button>
  </form>
</div>