<div class="row">
  <div class="col s12 m5 l5">
    <app-user-details></app-user-details>
  </div>
  <div class="col s12 m7 l7">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">Users</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr class="user-item" *ngFor="let user of userService.users" (click)="selectUser(user)" [class.active]="user === userService.selectUser">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>
                <p *ngIf="user.phone.mobile">{{user.phone.mobile}} <br></p>
                <p *ngIf="user.phone.work">{{user.phone.work}}</p>
              </td>
              <i class="material-icons">edit</i>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>